body{
    background-color: black;
}
#table{
    background-color: darkgreen;
    border-top: 10px solid rgb(85, 55, 0);
    border-bottom:20px solid rgb(85, 55, 0);
    height: 700px;
    width: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 46px;
    color: black;

}

#hitButton, #stayButton{
    display:none;
}

#playButton:hover{
    color: red;
    cursor: default;
}

.card { 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
    left: 1.1em;
    transition: 0.3s;
    width: calc(100% / 12);
    border: 2px solid black;
    font-size: 46px;
    background-color: white;
    

  }
  
 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: calc(100%/10);
    top: 11.5em;
  }
  

  .container {
    padding: 2px 16px;
  }

  #cardHolder{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;

  }



 .top{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }

  .middle{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 64px;
  }
  .bottom{
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }
